[2022-05-26 17:07] LukasDavSchwarz opened #2154 "Read-Only schema properties are included in "TryIt" JSON request body"
Thank you for providing awesome OpenApi Tooling!

## Context
The default JSON request body of the "TryIt" panel contains properties that are marked as read-only. Requests that are sent with those example request bodies will always be invalid.

## Current Behavior
The default JSON request body of the "TryIt" panel contains read-only properties.

## Expected Behavior
The default JSON request body of

[2022-05-26 17:08] LukasDavSchwarz commented on #2154
I can also try to fix this myself if you could provide me with a pointer on where to start

[2022-05-30 08:23] captn3m0 commented on #2141
The workaround doesn't work, since httpsnippet does not offer a way to use the compiled schemas, and neither does elements.

[2022-05-30 08:28] captn3m0 commented on #2141
Created an issue against `httpsnippet` to pre-compile the HAR schema: https://github.com/Kong/httpsnippet/issues/270

[2022-05-31 16:12] ASISBusiness opened #2156 "ASISBusiness"
## Epic Description

## Acceptance Criteria

## Implementation Ready Checklist
- [ ] Acceptance criteria defined
- [ ] Team understands acceptance criteria
- [ ] User workflows defined / designed
- [ ] Acceptance criteria is verifiable
- [ ] External / 3rd Party dependencies identified

## Workflow / Design

[2022-05-31 16:13] ASISBusiness opened #2157 "Asisbusiness"
## Context

## Current Behavior

## Expected Behavior

## Possible Workaround/Solution

## Steps to Reproduce

1.
2.
3.
4.

## Environment

- Version used:
- Environment name and version (e.g. Chrome 39, node.js 5.4):
- Operating System and version (desktop or mobile):
- Link to your environment/workspace/project:

[2022-06-01 04:15] kressaty commented on #2146
Try the `basePath` prop on the `<API>` component per the docs [here](https://github.com/stoplightio/elements/blob/main/docs/getting-started/elements/elements-options.md)

[2022-06-02 14:55] #2156 closed

[2022-06-02 14:56] #2157 closed

[2022-06-04 17:38] Pum-purum opened #2161 "Make Auth and Response areas wider than 40% of screen"
## Context
Info in Auth and Response areas is more important than static info in method describing. Please make it wider

## Current Behavior
https://disk.yandex.ru/i/moXcCgEguw32gw

## Expected Behavior
https://disk.yandex.ru/i/VcQBDW4hZLZB_A

## Possible Solution(s)
Remove CSS style like "max-width: 500px" and set "width" from 40% to 60%

[2022-06-04 17:48] Pum-purum opened #2162 "Make rounded borders to Response area"
## Context
Make rounded borders to Response area

## Current Behavior
https://disk.yandex.ru/i/QlYwvPMw0KC8UA

## Expected Behavior
https://disk.yandex.ru/i/CK3PnfXT2StaGA

## Steps to Reproduce

1. Click on Send API Request in any endpoint

[2022-06-08 04:19] #2146 closed

[2022-06-08 18:10] Pum-purum opened #2164 "Generate dynamic variables like in Postman"
I do not want to see in body json values like "string" or 0. But I want see real meaningful values like in Postman: https://learning.postman.com/docs/writing-scripts/script-references/variables-list/.

They might be generated in client side with JS script, and re-generate by some button click. Also I must be able to delete generated value and input some custom one.

[2022-06-08 18:15] Pum-purum opened #2165 "Save response data to variables and use them in request"
I need functionality like in Postman: https://learning.postman.com/docs/sending-requests/variables/

[2022-06-09 16:52] e-katzenstein commented on #2152
This makes tryItCorsProxy nonfunctional. Able to reproduce.

[2022-06-09 17:30] dotslashderek opened #2167 "Code updates required for React 18"
The FC interface in React versions before 18 provided an implicit *children* field (ReactNode type) that we leverage quite a bit in our code.  In 18, this field was removed, so updating will cause breaking changes in our existing code in both elements and elements-core.  There are multiple ways to update the existing code to accommodate this change, several of which are outlined here:

https://sta

[2022-06-09 17:40] dotslashderek opened #2168 "Code updates required for new version of fortawesome/free-solid-svg-icons"
The new version - @fortawesome/free-solid-svg-icons": "^6.1.1" -   introduces breaking changes that we'll need to accommodate with code changes - type-check errors after updating to the latest version look like this:

  ../node_modules/@stoplight/mosaic/components/Button/Button.d.ts:15:5
    15     icon?: IIconProps['icon'] | React.ReactElement;
[code]

  ../node_modules/@fortawesome/react-fontawe

[2022-06-09 17:48] Pum-purum opened #2170 "Schemas shows nullable properties as non-nullable"
Short screenshot: https://disk.yandex.ru/i/aG-XSyaLjF3SGA

[2022-06-10 15:55] Pum-purum opened #2173 "Unable to enter associative arrays in query string correctly"
![2022-06-10_19-52-12](https://user-images.githubusercontent.com/19171346/173104506-e6ed513a-2e37-4b2c-a267-866c04a0b5c5.png)

[2022-06-10 18:18] schroedan commented on #765
Hello everyone, we from the [skriptfabrik](https://github.com/skriptfabrik) didn't want to wait any longer and have crafted our own [Elements CLI](https://github.com/skriptfabrik/elements-cli).
We published it today and hope that it is in the interest of Stoplight and the community and that it will be accepted by all.
The documentation is still a bit poor. We would be happy if we can count on your

[2022-06-11 10:38] philsturgeon commented on #765
@schroedan brilliant work, thanks for contributing this. It’s what open-source is all about! 🙌🏻

[2022-06-12 05:24] avin-kavish opened #2174 "Custom of ordering of endpoints"
Would it be possible to have an option to order endpoints?

## Context
Trying to get endpoints to show up in a particular order on the sidebar.

## Current Behavior
Shows up in the order specifed on the api spec. So it's grouped by route.

## Expected Behavior
Example, https://rapidocweb.com/examples/arrange-by-tags.html

## Possible Solution(s)
Similar implementation to rapidoc would work.

[2022-06-12 10:21] avin-kavish opened #2175 "Update code samples, support typescript, add custom code samples"
I love your framework. I just need a couple of things for my project. Not sure if they can be done as is or it would require framework changes.

1. Current code samples to be updated and use modern language syntax. (Example, async/await for js)
2. Add TypeScript samples
3. Showcase using my own custom client library for making these requests.

Example,

[code]

[2022-06-14 15:04] mnaumanali94 commented on #2168
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-DnC-61f945bb2ae66f0010ca5eca/issues/stoplightio/elements/2168?planning-poker) with ZenHub @Amjcraft @kaylachun @mallachari @mmiask @Nezteb @dotslashderek

[2022-06-14 15:36] mnaumanali94 commented on #2167
Document how we did this for other places that we might want to update to react 18

[2022-06-15 03:05] Airkro opened #2176 "Heading anchor replace router hash when `router=hash`"
## Current Behavior

![1655262182067](https://user-images.githubusercontent.com/12206891/173727866-e74c0890-5a05-4e89-8860-1e164ee3912a.png)

## Steps to Reproduce

1. open <https://elements-demo.stoplight.io/>
2. go to one of ENDPOINTS
3. click an anchor link

## Environment

- Version used: 7.5.20
- Link to your environment/workspace/project: https://elements-demo.stoplight.io/

[2022-06-17 11:45] dotslashderek commented on #2168
Looking into this further, the issue is actually that we're importing types from @stoplight/mosaic (still on version 5) and also directly importing free-solid-svg-icons in elements (trying to update to version 6) - then using the two together when they're no longer compatible:

`
import { faExclamationCircle, faEye } from '@fortawesome/free-solid-svg-icons';
import { Badge, Tooltip } from '@stopli

[2022-06-17 11:46] #2168 closed

[2022-06-22 18:34] pamgoodrich commented on #1983
This has been added to this topic.

https://meta.stoplight.io/docs/platform/hosted-docs/stoplight-urls#link-to-api-elements

[2022-06-24 16:57] blueswen opened #2178 "Stacked layout only does not render all data"
## Context and Current Behavior
In stacked layout only info and paths with tags will be rendered. Schema(in components) and paths without tag is missing.

## Expected Behavior
All data in OpenAPI Spec could be rendered like sidebar layout

## Steps to Reproduce
[codepen example](https://codepen.io/blueswen/pen/YzqwedY)

## Environment

- Version used: From CND https://unpkg.com/@stoplight/elements

[2022-06-24 19:17] mallachari opened #2179 "Allow hooking into route changes"
## User Story Description

As elements user I want to have option to hook into route changes and perform an action based on current location.

Add optional `onRouteChange` property to `StoplightProject` and `API` containers allowing to pass a function, invoked on every route change, that receives current location.

[code]

[2022-06-26 10:30] avin-kavish opened #2180 "The 'required' keyword in response objects may not make a lot of sense"
## Context
![required-in-response](https://user-images.githubusercontent.com/48435155/175809909-2624312c-fe77-4de1-824b-fca8b303d41c.png)

## Current Behavior
I think a required field makes sense in the context of request parameters but in the response body, it might not. In the context of a request, it's intepreted as "I am required to enter these fields". But when it's the response, it can't be

[2022-06-28 14:01] mnaumanali94 commented on #2179
More context from customer:

Yes, if there is no Gatsby-specific implementation of Stoplight Elements that would trigger Gatsby’s proper navigation events (gatsby-browser#onRouteChange), then an optional callback prop like you suggested would work. I would also include information about the previous location though, so that the consumer can track things such as page referrer. Google Analytics spec

[2022-06-28 14:46] dotslashderek opened #2181 "Update Elements review process for external contributors"
Right now, we want external contributors to have their PRs reviewed by a defined set of Elements reviewers.

This ticket will:

- Add a group of reviewers that can be assigned for review (will randomly assign one reviewer from that defined group)
- Update Readme to call out assigning that group for PR reviews

Current group should be DNC engineers - Derek, Matt, Michael, Jakub R, Aaron, Eric

[2022-06-29 13:31] shokme opened #2182 "Failed to parse OpenAPI file"
## Context

Cannot read local openapi.yaml file from HTML implementation using apiDescriptionDocument

## Current Behavior

The rendered html show the following text
[code]

## Expected Behavior

Render the openapi.yml to an HTML document

## Steps to Reproduce

- index.html
[code]
- the `openapi.yaml` is the one from the demo website
- open the index.html in your browser

## Environment

- Versio

[2022-06-29 13:54] shokme commented on #2182
I also tried with apiDescriptionUrl instead of apiDescriptionDocument but the result is almost the same

[code]
Do I have to serve the index.html over an nginx server? (in that case with apiDescriptionUrl it works).

[2022-06-29 15:26] Amjcraft commented on #2170
![Screen Shot 2022-06-29 at 9.24.40 AM.png](https://images.zenhubusercontent.com/60183c1781aef3f13cf126f1/1a23f94b-07d4-43e1-a188-5c05b1482724)

![Screen Shot 2022-06-29 at 9.13.18 AM.png](https://images.zenhubusercontent.com/60183c1781aef3f13cf126f1/2d43bc5b-8d55-4d48-a86e-2ef732e39575)

**As Inline Ref**
![Screen Shot 2022-06-29 at 9.12.17 AM.png](https://images.zenhubusercontent.com/60183c1781a

[2022-06-29 15:30] Amjcraft commented on #2170
@[Андрей](https://github.com/Pum-purum)

[2022-06-29 15:41] Pum-purum commented on #2170
@Amjcraft sorry, but I can't. Seems like bug is already fixed. Now my endpoint looks like this: https://disk.yandex.ru/i/xIcJ3KzVntkA5Q

[2022-06-29 15:41] #2170 closed

[2022-06-30 13:40] dtujmer opened #2183 "Referenced path parameters don't show up in "Try It" requests"
## Context

I need to send test requests to see if they work, and also to use the returned response to build a schema of the response.

## Current Behavior

The request fails.

## Expected Behavior

The request should not fail.

## Possible Workaround/Solution

Use another tool, or manually run a command for the request (e.g. `curl`).

## Steps to Reproduce

1. Have an API that contains **referenc

[2022-07-01 16:02] aleskovets opened #2184 "TryIt to follow selected schema using oneOf selector"
TryIt should follow selected request body schema when User selects an option using oneOf dropdown.

## Context
Allow user to actually interact with multiple schemas and use it with TryIt.

## Current Behavior
Currently only the first schema is pre-loaded and selection of different schema does not make any difference.
![recording](https://user-images.githubusercontent.com/812103/176929998-5c5548e6-

[2022-07-01 17:45] mnaumanali94 commented on #2176
This is an issue with the demo site. Lets fix that.

[2022-07-04 01:43] Airkro commented on #2176
Not only in the demo site, but it also happens in my case.

[2022-07-04 12:15] vaibhavshn opened #2188 "Dark theme colors are not readable in some places"
## Context

Using the latest spotlight elements package: `^7.6.0`.

If you are in dark mode, a few of the colors are not much readable.

![image](https://user-images.githubusercontent.com/6205961/177152516-a1413266-d91f-4d2c-b382-1ea36470c3d5.png)

## Current Behavior

Dark theme colors aren't readable.

## Expected Behavior

Use lighter color shades in dark theme in specified places as shown in s

[2022-07-04 18:37] lucianojs opened #2189 "Failure to show correct descriptions (sibiling) when use $ref schemas"
Failure to show correct descriptions (sibiling) when use $ref schemas

## Context

This tool doesn't show the expected description when I use OpenAPI 3.1.0.

## Current Behavior
When I use this sample specification:

[code]

this tool show this:
![Captura de tela de 2022-07-04 15-09-03](https://user-images.githubusercontent.com/5367385/177204315-8bbab781-0ea9-4588-a5a9-0f0d60edf142.png)

## Expect

[2022-07-05 11:08] Thomasdezeeuw opened #2190 "Title missing for dropdown when rendering double oneOf/allOf"
## Context

When using `oneOf` using a schemas that themselves have a `allOf` Elements uses "any (one of)" as title for the dropdown to select the schema options instead of the schema's title, see the image attached at the current behaviour section.

## Current Behavior

<img width="617" alt="Screenshot 2022-07-05 at 13 00 33" src="https://user-images.githubusercontent.com/3159064/177313555-38da39

[2022-07-05 19:48] aleskovets commented on #2151
Looks related https://github.com/stoplightio/elements/pull/2006

[2022-07-07 09:01] rick-palmsens opened #2194 "Support for readonly $ref"
readonly $ref is not supported properly even though there are ways to define it in OpenAPI

## Context

I have a model for an id, which I want to reference as readonly in other schemas.

## Current Behavior

I tried the pre 3.1 way:
[code]

As well as the post 3.1 way:
[code]

## Expected Behavior

![image](https://user-images.githubusercontent.com/57390463/177734982-690b7aa9-46dd-4a88-b33c-77228c

[2022-07-08 08:59] oldium commented on #2036
I am using Elements as a Web Component and corruption happens with history router too. The result is absolute link (with `basePath="/api/docs"`) `/api/docs/mailto:support.email@example.com`

[2022-07-12 13:54] caitlinnew opened #2196 "Search in Stoplight Elements v1.7.4 DevPortal appears to be broken"
Tested this out after updating the version to 1.7.4, and what happens is, when clicking on the dev portal search icon, the page crashes. Originally, it would open up a modal with a search list. I've attached a screenshot of the error that shows in the console.

![image](https://user-images.githubusercontent.com/92755071/178506280-96c36162-f8f8-4e35-9c6b-d3247aa7de59.png)

## Current Behavior
Page

[2022-07-13 13:04] caitlinnew commented on #2196
Customer upgraded and this is no longer an issue

[2022-07-13 13:04] #2196 closed

[2022-07-14 15:04] #2181 closed, assigned to Amjcraft

[2022-07-17 08:26] yanir21 commented on #1055
Hey, any update on this?

[2022-07-18 15:07] danielsharvey commented on #1400
@marekhrabe Thanks, this works well. Although, something to handle token refresh would be good - I will go looking to achieve this later :)

FYI for others reading, the `Token` in the example above is the name of the security scheme from the Swagger:
[code]

[2022-07-18 17:05] caitlinnew opened #2199 "Code snippet formatting works on Github and Stoplight but shows up weird on Elements Dev Portal"
Code snippet formatting works on Github and Stoplight but shows up weird on Elements Dev Portal

Please watch the video (contact Caitlin for the link/password)

## Expected Behavior
The formatting should work on Elements Dev Portal

[2022-07-18 21:01] moon0326 commented on #1860
Are there any updates to this feature request by any chance?

[2022-07-19 04:38] tmkasun commented on #1860
Hi @moon0326 ,

I check the latest code in the [TryIt.tsx](https://github.com/stoplightio/elements/blob/a02d5a596a8289e883debdabf52a1f2052b648ec/packages/elements-core/src/components/TryIt/TryIt.tsx#L75). It seems like now we can change the request parameters via `onRequestChange ` prop.
Haven't tested it though, So we might able to use that callback function to get to the request headers.
@mnauma

[2022-07-19 05:18] moon0326 commented on #1860
Thank you! I did not notice that. I'll look into it :)

[2022-07-21 02:47] matthewmuscat commented on #2188
@vaibhavshn Do we have an update/PR for this issue?

[2022-07-25 08:58] jschaefer77 opened #2204 "Vulnerability in dependency file-type"
Our vulnerability scanner detected a vulnerability because of an old dependency of file-type lib.

Stoplight elements > http-spec > postman-collection > file-type

Current used version of file-type is very old version 3.9.0! Version 17.1.3 is already available.

Description of our vulnerability scanner:
An issue was discovered in the file-type package before 16.5.4 and 17.x before 17.1.3 for Node.

[2022-07-26 13:31] caitlinnew opened #2205 "Resolving links and urls"
We are integrating with Stoplight Elements (https://meta.stoplight.io/docs/elements/ZG9jOjMyNjU4OTY0-elements) and we are having some issues with the links/anchors inside the page. The layout we are using is “sidebar”, the router is “hash”.

## Current Behavior
The problem is that when I click on a link heading I get redirected on the correct place, but the URL goes to the default one.
The link I’

[2022-07-28 07:01] ly29 commented on #2189
This is really a bug.

[2022-07-30 03:44] pavinduLakshan commented on #2205
We are having the same problem and it annoys our end users. A solution to overcome this problem is highly appreciated.

[2022-08-02 15:49] rainum opened #2211 "[SPIKE]: Figure out a way to set Canonical URL in the head section for Elements App"
We need to figure out a way to add a canonical URL for every page in the head section to return them on initial page render. Ideally this should be done on the backend side to not to wait for react app to render.

In the Elements we don't have an access to any SSR context. This means that we don't have an access to the current route on the backend side, considering that backend should be provided

[2022-08-02 16:09] #2211 closed

[2022-08-02 16:09] rainum commented on #2211
Issue moved to [stoplightio/platform-internal #12528](https://github.com/stoplightio/platform-internal/issues/12528) via [**ZenHub**](https://www.zenhub.com/)

[2022-08-03 08:00] smitabh84 opened #2212 ""send API request" request sent to wrong server IP"
When user clicks on "Send API request" the request should be sent to the servr IP that user has selected, currently all the requests are going to nutanix.dev. How can I handle it in an embedded setup like Nutanix? Screenshot for error and project setting is attached.

So basically the "send API request" is useless for our customers Please check it ASAP.

## Context
![image](https://user-images.git

[2022-08-03 14:53] Amjcraft commented on #2167
Moving this guy back for now. Had quite a few issues with the update. Feel free to ping me if you pick up I did get pretty far into the process and will be continuing to play with it in my free time.

[2022-08-04 16:55] mnaumanali94 commented on #2212
Hey. Do you have the server set in your OpenAPI file?

[2022-08-04 22:23] codygibb opened #2213 "Object with additionalProperties (i.e. map of string to object) does not display schema"
## Context

Swagger specs can define string-to-object dictionary mappings with the following config:
[code]
In these cases, the object keys can be any string, but the object values have a fixed schema.

## Current Behavior

Elements does not display the object value schema for dictionary mappings. It simply says "object" with no further details:

<img width="250" alt="Screen Shot 2022-08-04 at 3 1

[2022-08-05 07:45] hotrush commented on #2152
Any plans for fixing this?

[2022-08-08 14:49] lazartsarev commented on #2205
Hey, any update on this one?

[2022-08-08 22:36] codygibb commented on #2213
Note, I believe the root issue here is actually in another repo: https://github.com/stoplightio/json-schema-viewer/issues/108

[2022-08-11 17:10] mnaumanali94 commented on #2205
I can reproduce to it in https://elements-demo.stoplight.io/

Verify it works here once the fix is made.

[2022-08-11 17:11] mnaumanali94 commented on #2212
@smitabh84

[2022-08-11 20:26] ajrice6713 commented on #2175
+1 would be great to have custom code sample support. ReDoc and others support this functionality.

[2022-08-12 06:59] aerialist7 opened #2216 "Unable To Use "Stoplight Elements" In React Vite App - `require is not defined`"
Hi Team,

we're using `<API/>` react component from `@stoplight/elements` in our Vite/React project.
But the app doesn't work in production - it fails with ```Uncaught ReferenceError: require is not defined``` error.

Sample: https://github.com/aerialist7/stoplight-elements-sample/tree/vite-react-component
To reproduce the issue just run `preview` command in my sample.

Could you please help us to

[2022-08-14 23:55] ahopkinstk commented on #2213
FWIW I am experiencing the same behaviour using YAML schemas

[2022-08-15 18:32] lucianojs opened #2219 "Allow expanding request/response body on all items by default"
## Context

Allow expanding request/response body on all items by default

## Current Behavior

Today, it's expanding by just 2 levels by default.
![doc dte-tst infraestrutura gov br_api_v1_index html](https://user-images.githubusercontent.com/5367385/184694219-fd4c9139-ce7d-4e87-9bd8-8c920f4c98a7.png)

## Expected Behavior

Permit to expand in other values or all levels by default
![doc dte-tst i

[2022-08-20 04:32] sinowood opened #2221 "TryIt layout broken in Edge (chromium) browser"
When body part is long enough to display the scrollbar, body text and selected text (and input cursor) mismatched.

## Current Behavior
![image](https://user-images.githubusercontent.com/1977734/185728752-12289f98-6aaa-4a92-aaef-314a41097d3d.png)

## Possible Workaround/Solution
The problem does not exist in Firefox browser.

## Steps to Reproduce
1. High DPI laptop screen (14.1" 2560x1440)
2. Win

[2022-08-21 14:37] #2205 closed

[2022-08-23 08:08] lazartsarev opened #2222 "Anchor links redirect to a different page when in endpoint definition"
## Context

Trying to go to a anchor link redirects to a dfferent page

## Current Behavior

Trying to go to a anchor link redirects to a dfferent page

## Expected Behavior

Should stay on the same page and update the URL

## Possible Workaround/Solution

## Steps to Reproduce

1. Open https://elements-demo.stoplight.io/#/operations/post-todos
2. Go to "Responses" -> "Body" section
3. Click on th

[2022-08-23 08:09] lazartsarev commented on #2222
@mnaumanali94 @P0lip please check this one as well.

[2022-08-24 09:44] lazartsarev opened #2223 "Anchors from headings are not working as expected with hash router"
The anchors are behaving as expected on the overview page when they are for headings.
## Context

Sharing links with anchors to specific part of the page does not work. Clicking on the heading sends me to the top of the page.

## Current Behavior

Opening a URL with anchor for a heading is not scrolling to the correct section
Clicking on a heading is scrolling to the top of the page

## Expected B

[2022-08-24 09:46] lazartsarev commented on #2223
@mnaumanali94 @P0lip please take a look at this one as well. Might be related to this change - https://github.com/stoplightio/elements/pull/2220

[2022-08-25 16:01] lazartsarev opened #2226 "Allow copying anchor links through the icon"
Allow copying anchor links through the icon
## Context

When clicking on the icon that shows next to a heading we should copy the whole URL to the clipboard.
See which icon I'm referring to in this ![image](https://user-images.githubusercontent.com/474484/186713865-d800dd87-6a05-4575-93cf-a8f97e8d04f4.jpg)

## Current Behavior

When the icon is clicked the URL just changes.

## Expected Behavior

[2022-08-27 07:43] artufimtcev opened #2227 "Possibly outdated node version in contributing guideline"
Current [contributing guidelines](https://github.com/stoplightio/elements/blob/main/CONTRIBUTING.md) suggest that node v12 should be used, however project contains dependencies that require newer version, which can be misleading. Some of the packages are:

- `@stoplight/elements-core@7.6.5` is set to `"node": ">=14.13"`
- `@stoplight/json-schema-viewer@4.7.1` is set to `"node": ">=16"`

## Context

[2022-08-30 09:25] isomorpheme opened #2228 "There's no visual indication whether a `requestBody` is `required` or not"
Request Body objects have a `required` property (defaulting to `false`) that indicates whether a request body is allowed to be empty. As far as I can tell, the value of `required` isn't represented anywhere in the generated documentation for an operation.

## Context

This makes the documentation for my API less clear, because downstream consumers e.g. assume they can safely omit a request body wh

[2022-09-01 01:49] blockjoe opened #2229 "Schemas of prefixItems in Tuple Validated Relays don't display nested."
JSON Schema allows for declaring fixed size, mixed type arrays that function similarly to something like a Tuple.

More details of this can be [found here](https://json-schema.org/understanding-json-schema/reference/array.html?highlight=prefixitems#tuple-validation).

## Context

Given that arrays of a single object type display the schema of containing elements (what `@stoplight/json-schema-viewe

[2022-09-01 11:23] P0lip commented on #2223
Yeah, I can indeed reproduce it. Will look into it when I have a minute.
The scroll issue is probably caused by some bug in stoplight/mosaic

[2022-09-05 14:25] iamhosseindhv opened #2230 "TryIt doesn't send request body for DELETE requests"
## Context

When making an api request with method DELETE which has some body, the body is not sent. This seems to be intentional as per these lines:
https://github.com/stoplightio/elements/blob/b20ba4422985ff35617171ec72103719fe3aa2b6/packages/elements-core/src/components/TryIt/build-request.ts#L66

## Current Behavior

As explained above

## Expected Behavior

Request body should be sent for DEL

[2022-09-06 07:09] ndrshrzg opened #2232 "Critical vulnerabilities in dependency immer v8.0.1"
FOSSA scan reports two critical security vulnerability in package `immer <= v8.0.1` .

## Context
[CVE-2021-23436](https://nvd.nist.gov/vuln/detail/CVE-2021-23436)
[CVE-2021-3757](https://nvd.nist.gov/vuln/detail/CVE-2021-3757)

## Possible Solution(s)
 Vulnerability is fixed in `>=v9.0.6`.

[2022-09-08 17:10] mnaumanali94 commented on #2222
@P0lip Didn't we fix this already?

[2022-09-08 17:18] mnaumanali94 commented on #2229
@blockjoe This is a good enhancement. Would you mind creating a PR? The team would really appreciate that.

[2022-09-08 17:20] mnaumanali94 commented on #2230
We can potentially create a rule in Spectral to warn users but support it in the docs.

[2022-09-08 17:24] mnaumanali94 opened #2233 "Address all critical dependabot issues"

[2022-09-08 17:46] blockjoe commented on #2229
I'd be happy to submit a PR. The only thing I wasn't sure of is where exactly in your stack this would happen.

Is it safe to assume that the `prefixItems` will be accessible from the context that gets passed to the React components? Or is there somewhere that this field needs to be parsed before it becomes accessible?

[2022-09-09 16:55] pamgoodrich opened #2234 "Docs: Vale and Grammarly Checks"

[2022-09-09 17:01] pamgoodrich opened #2235 "Elements Docs: Vale and Grammarly Checks"

[2022-09-12 11:29] dahu33 opened #2236 "Server variable input support"
## User Story Description

As an API user,

I want to input my server URL,

so I can try the API against the URL of my choice.

---

Currently an API user cannot input a value for a (non enum) [server variable](https://swagger.io/specification/#server-variable-object). Basically only the default or enum values are used.

## Acceptance Criteria
- [ ] User can input the server URL and use it with th

[2022-09-13 12:42] P0lip commented on #2222
Possibly, although the previous one was a tad different - the URL kept changing, while this one is specifically about scrolling, if I understand it correctly.
We use Mosaic for that scrolling, so perhaps there's some bug in there.

[2022-09-13 22:30] #2234 closed

[2022-09-13 22:31] pamgoodrich commented on #2234
Duplicate

[2022-09-14 13:20] teluren opened #2238 "Schema size error while example rendering"
Dear colleagues,
I'm trying to generate the example preview over OpenAPI 3.0.x specification and getting an error:

The API response body for this example contains an array of objects with such a structure:
[code]
This Quote object is rather big - about 80 parameters, some of them with nested objects. The whole list is near the 250 parameters.
If I'm rendering only a single Quote schema object, an

[2022-09-15 09:42] #2223 closed

[2022-09-15 09:43] #2222 closed

[2022-09-16 11:44] #2233 closed

[2022-09-16 11:45] P0lip commented on #2233
<img width="956" alt="image" src="https://user-images.githubusercontent.com/9273484/190631771-161cbbde-54a0-4778-9e4e-a46a0cf7779d.png">

[2022-09-16 15:00] P0lip commented on #2232
The latest version should no longer be vulnerable.

[2022-09-16 15:00] #2232 closed

[2022-09-19 13:57] P0lip opened #2247 "Uncommon HTTP verb badge is barely visible"
## Current Behavior
The badges for less common HTTP verbs such as HEAD or TRACE don't have any background, which makes it difficult to spot it given it's a white text on a gray-ish background.
Here's how it looks like for some other HTTP verbs
<img width="319" alt="image" src="https://user-images.githubusercontent.com/9273484/191034145-50102639-1e23-4ca0-b794-506eb51f9b99.png">
<img width="198" al

[2022-09-19 16:37] Amjcraft commented on #2247
Issue seems to be on `packages/elements-core/src/components/Docs/HttpOperation/HttpOperation.tsx`

`bg={!isDark ? HttpMethodColors[method] : 'canvas-100'}`

The 'HttpMethodColors' do not have entries for Head or Trace falling back to the grey background.

[2022-09-21 12:40] ismaelrumzan commented on #1762
Thank you @estrattonbailey I was trying to implement elements in a brand new next.js project and this solved my issue. Here is the final code

[code]

[2022-09-21 15:02] KavishPeiris1 commented on #2182
Did you find a solution for this?

[2022-09-21 18:44] CarltonHowell commented on #2053
@jernej-lipovec-viaduct did you find any workarounds for this?

[2022-09-21 18:54] jernej-lipovec-viaduct commented on #2053
We are now using [Web Component](https://github.com/stoplightio/elements#web-component) version of Elements and is working well for us.

[2022-09-23 15:57] mnaumanali94 commented on #2236
PR: #2160

[2022-09-23 16:10] mnaumanali94 commented on #2247
@keaslersarahaley @noor-ahmad What colors should we use here?

[2022-09-23 17:34] keaslersarahaley commented on #2247
@mnaumanali94  can we try accent Purple - #9061F9 and #0D0B28 - dark blue

[2022-09-24 11:30] shokme commented on #2182
Unfortunately, no.

[2022-09-26 14:54] noor-ahmad commented on #2247
I agree with @keaslersarahaley, we can give those a try

[2022-09-28 04:37] Kirishikesan opened #2250 "CSS conflicts when adding @stoplight/elements/styles.min.css"
Elements was integrated with a react webapp and it was observed that the styles from @stoplight/elements/styles.min.css are affecting the styles from the original webapp. Is there any recommended ways of dealing with this.

This is due to generalized tags in the imported stylesheet "@stoplight/elements/styles.min.css"

1. The react webapp without elements

<img width="1512" alt="Screenshot 2022-09

[2022-09-28 06:37] KavishPeiris1 commented on #2182
You have to run this on http-server when you are running locally. Use the following
https://www.npmjs.com/package/http-server

[2022-09-28 11:44] shokme commented on #2182
I wanted to have something as simple as an html file, as our openapi is used internally. But this is ok we found another solution.

Thank you for your suggestion.

[2022-09-28 11:44] #2182 closed

[2022-09-28 21:11] pamgoodrich opened #2251 "Proposals showing unrelated files"
I noticed today that one of my proposals is showing every file that recently changed in our repo and not just the files that are in my pull request.

I'll give links, even though they might be out of date by the time this issue is worked on, so I'll also include screenshots.

PR shows 4 files changed:
https://github.com/stoplightio/platform-docs/pull/541/files

![image.png](https://images.zenhubus

[2022-09-28 21:11] #2251 closed

[2022-09-29 15:45] junctionapps opened #2252 "hideTryIt is greedy - Is it possible to hide the Try It panel, but keep the Examples panel?"
When setting the `hideTryIt` configuration in the `element-api` section like `hideTryIt = "true"`, the inverted panel (with the dark background) is removed, but so too is the examples panel. Is it possible to just remove the panel with the `Send API Request` button in it but keep the examples? The  'response example' panel remains visible in both cases.

I've just discovered this project and it is

[2022-09-30 05:46] smitabh84 commented on #2238
Hi Same issue with my GUI as well, the example as below
Well, here is an example of a payload for the blueprint simple_launch API endpoint. I don't know that the payload will look like for launching a marketplace item. That's the purpose of this ticket.

Payload for blueprint simple_launch api endpoint - (json)

{
    "spec": {
        "app_profile_reference": {
            "kind": "app_profile",

[2022-09-30 05:51] smitabh84 commented on #2212
yes. u can check the nutanix.dev for the project. I have set all the details.

[2022-09-30 07:16] aerialist7 opened #2253 "Stoplight Elements falls of the /** symbols in URL"
Hi Team,

I found a bug: when I use `/**` symbols in path URL the `Invalid regular expression: /~1accounts~1**/: Nothing to repeat` error is thrown

![image](https://user-images.githubusercontent.com/32072831/193211894-52b2354f-626d-439b-94f3-516e3c06b649.png)

[Here you can reproduce the problem](https://github.com/aerialist7/elements/tree/invalid-regular-expression-error) - just run storybook an

[2022-09-30 07:17] aerialist7 commented on #2253
Hi @P0lip, maybe you can help with this problem?

[2022-09-30 07:49] tonitagd commented on #2226
I would also like to see this working.
When would be available?

[2022-10-02 18:52] aerialist7 commented on #2253
@lottamus, @mallachari, @mmiask, @P0lip, can anyone please help?

[2022-10-03 10:47] vaibhavshn commented on #2188
No, I have used the same approach as you and applied my own lighter colours. 😄

[2022-10-03 17:06] pamgoodrich opened #2254 "Doc for object and array query parameters in try it"
Documentation needed for:

https://app.zenhub.com/workspaces/-tequila-mockingbirds-61f945bb2ae66f0010ca5eca/issues/stoplightio/elements/2231

[2022-10-04 11:11] aerialist7 commented on #2253
@lottamus, @mallachari, @mmiask, @P0lip, can anyone please help?
May be it is not a bug? May be the specification is wrong?

[2022-10-05 07:17] lazarprisov commented on #2226
This would be very useful.
Are we going to see it implemented soon?

[2022-10-05 09:21] philsturgeon commented on #2230
@mnaumanali94 I agree, thats a good way to split it. When there is a SHOULD that means people could. Spectral can help make things better, and Elements should show whatever it understands regardless of opinion. IMO. :D

[2022-10-05 09:22] philsturgeon commented on #2194
Out of curisoity does it help if you use `readOnly: true` instead of `readonly: true`?

[2022-10-06 08:23] smitabh84 opened #2256 "how to add API path links from a md file"
<I have a static md file(workflow.md) which gives a workflow link to the user, I have added a few links but every time I update a new yaml file for the API reference. The id(marked in red) changes and the link breaks.
Is there a better way to give internal links in an md file? Screenshot is attached for reference.

![image](https://user-images.githubusercontent.com/66934062/194260633-7a2f1fd6-acb1

[2022-10-06 08:28] smitabh84 opened #2257 "404 error while rendering APIs"
This is an intermittent issue but we are seeing it quite often now.

Nutanix uses an embedded system to upload our APIs through Stoplight studio on nutanix.dev. Recently, when users click on any product name to launch the API details, a 404 error screen is shown. It goes off when the user refreshes the page.  As I pointed out earlier, it's an intermittent issue but happening quite frequently in th

[2022-10-06 13:59] porotkin opened #2258 "Unexpected rendering of parameter's absent description"
Hi Team,

we have encountered an unexpected behaviour. In the example below, the parameter ‘limit’ doesn’t have a description property, but it is still rendered getting the value from the schema’s description.

# Current Result
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/34237389/194330801-18281f94-b79f-457a-88fa-e89c3833dcff.png">
<img width="639" alt="image" src=

[2022-10-06 17:38] #2227 closed

[2022-10-07 18:09] aerialist7 commented on #2253
@P0lip, may be you can help, please?

[2022-10-07 23:51] Yahkob opened #2259 "converting OpenAPI Spec to service node using <TryIt> by it's self"
It looks like using the main elements component your openapi spec is formatted specifically by `transformOasToServiceNode` but this method is not exposed by elements-core or elements. Maybe I'm missing an easy way to do this conversion. If you're a developer using <TryIt> on it's own should you format the openapi spec yourself or would it make sense to expose `transformOasToServiceNode` in some pa

[2022-10-09 07:25] porotkin opened #2260 "Responses tab list cuts response codes on small screens"
## Context

Unable to see a full list of response codes.

## Current Behavior

Response codes  are not fully displayed as shown in the picture below:
<img width="1718" alt="image" src="https://user-images.githubusercontent.com/34237389/194743206-6dfa7321-cd2b-4cef-93cc-18c508728e96.png">

## Expected Behavior

<img width="1724" alt="image" src="https://user-images.githubusercontent.com/34237389/19

[2022-10-09 07:41] porotkin commented on #2260
#2261

[2022-10-09 16:23] aerialist7 commented on #2253
@lottamus, @mallachari, @mmiask, @P0lip, can anyone please help?

[2022-10-11 07:41] captn3m0 commented on #2141
The workaround isn’t feasible for lots of websites for security reasons as it introduces a huge attack surface.

[2022-10-11 10:25] porotkin opened #2262 "Multiple Tags Of The Operation"
## Context

When the operation contains multiple tags, the user should be able to see the operation under each specified tag in the Table of Contents.

## Current Behavior

The current version does the grouping by the first met tag in an operation:
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/34237389/195065685-8072f338-3c3a-459d-b7b6-cf814b81fbdb.png">

## Expected

[2022-10-11 19:03] pepawel opened #2263 "Uploading a file is no longer possible with multipart/form-data"
If I set field type to `string` and format to `binary` in requestBody, then Elements should render it as a field with file selector button.
However, currently it renders it as a normal text field.

There is a feature implemented by [this PR](https://github.com/stoplightio/elements/pull/813/files), I saw screenshots of it (at least partly) working in [this issue](https://github.com/stoplightio/elem

[2022-10-12 21:13] pamgoodrich opened #2264 "Elements layout configuration option"
@pamgoodrich commented on [Thu Sep 22 2022](https://github.com/stoplightio/platform-docs/issues/533)

https://app.zenhub.com/workspaces/-tequila-mockingbirds-61f945bb2ae66f0010ca5eca/issues/stoplightio/elements/2210

[2022-10-13 16:48] aerialist7 commented on #2253
Hi Team!
@lottamus, @mallachari, @mmiask, @P0lip, any news about this?

[2022-10-14 08:07] K2ouMais commented on #1055
As a Laravel user we use, something like ```filter[userId]=1```.

The filter columns should be enums, so that there is only these allowed.

How can we do this in Stoplight Studio, ist this allowed or is it a bad practice?

[2022-10-14 12:43] porotkin commented on #2258
Hey, guys, can you, please, help with the issue? @P0lip

[2022-10-14 18:28] amarcadet commented on #1747
I'm actually interested in a fix or workaround for this issue because I am trying to validate an API using Prism in proxy mode and requesting via Elements, unfortunately I can't get through basic validation due to this error:

[code]

Thank you for your help

[2022-10-15 18:02] ashwini4code commented on #2190
Running into this same issue. Any pointers on how this can be fixed?

[2022-10-17 09:57] ArondeParon commented on #1839
I'm definitely very interested in this as well! The project I am currently working on does not have the ability to properly build a React version of the documentation, so a HTML version would be preferable. But without search, the usability would be a serious problem.

Any updates?

[2022-10-17 19:29] mnaumanali94 commented on #2238
Can you please share the OpenAPI file for this?

[2022-10-18 17:32] aerialist7 commented on #2253
:(

[2022-10-18 17:37] aerialist7 commented on #2253
@heitortsergent, hi! May be you can help? Or give some contacts who can...

[2022-10-18 19:52] #2260 closed

[2022-10-20 00:33] callicles commented on #1439
Looks like the work has been done and is just missing the stacked layout: ref https://github.com/stoplightio/elements/pull/1366 would be great to get this across the finish line :)

[2022-10-20 17:16] mnaumanali94 commented on #2250
@Kirishikesan Can we get the source code for this please? It would help us identify the issue.

[2022-10-20 17:25] mnaumanali94 commented on #2256
@smitabh84 Can you explain a bit more as to what you mean by "update a new yaml file for the API reference"? Are you updating the existing file or creating a new one?

[2022-10-20 17:27] mnaumanali94 commented on #2257
@smitabh84 About two weeks ago we had some performance problems that have since been resolved. Are you still seeing this?

[2022-10-20 18:41] Yahkob commented on #2259
@mnaumanali94 formatting open api spec to match the data model expected by elements, specifically `<TryIt/>`

For instance the spec in the live demo example takes this from the open api spec
[code]

and formats it to this before passing as a prop to `<TryIt/>`
[code]

[2022-10-20 21:09] Amjcraft commented on #2250
Or we'll need to do some debugging and  let us know where and what styles are overriding yours

[2022-10-21 05:57] smitabh84 commented on #2257
Hi Nauman,

I am not seeing it currently, but as I had mentioned it is an intermittent issue. I will keep a watch and update this thread if the 404 error is reported by customers again. Thanks for the update.

[2022-10-21 06:02] smitabh84 commented on #2256
Hi Nauman,

So if you see under references, we have one API reference yaml for each release. Once I import a new yaml file and add its address to the TOC, the links shown in the screenshot break due to the Id change in the link address (highlighted in the screenshot).

Please let me know if I could explain the issue clearly else I will try and add a video clip.

[2022-10-24 02:33] digitalformula commented on #1839
I asked for an update in May and they haven't even bothered to respond.  Pretty clear they aren't interested in adding this sorely needed functionality (assuming they haven't added it and not updated this open issue).  I've lost pretty much lost all hope of ever getting decent support out of Stoplight.

[2022-10-24 21:25] djMax opened #2267 "Support for descriptions of tags"
I would descriptions on tag entities to be included in the documentation.

## Context
Right now, the tags will create left bar groups for the methods, but you can't click on the tag itself and get the description of the tag.

## Current Behavior
Tag description is lost.

## Expected Behavior
Clicking on a tag should render the markdown for the tag description.

[2022-10-25 09:43] porotkin commented on #1766
Hello, Team!

Recently we have grown interest in implementing AsyncAPI schemas rendering and do have the capacity to help you develop this functionality.

What we suggest is to discuss the possible implementation according to your vision of how this should be done. It would be perfect if we can arrange a meeting to negotiate the changes we need to make in the product to suit the feature requiremen

[2022-10-26 13:37] djMax opened #2270 "Elements bundles several large libraries... why?"
We are deploying stoplight elements via docker containers. I notice that a number of big-footprint modules - sentry and faker-js mainly are pulled in with stoplight. Why, and can we do something about it?

## Context
Reasonably sized docker images.

## Current Behavior
[code]

That's 51MB just for stoplight.

## Possible Solution(s)
Perhaps some of these things are real dev dependencies? Or should

[2022-10-28 09:42] shoffmeister opened #2271 "Missing content OpenID security scheme"
Given an API with an OpenID Connect security scheme, the details of that security scheme - the `openIdConnectUrl` - are not rendered.

## Context

Security scheme details are not visible; only "empty space" is visible. This leads to irritation at the very least.

## Current Behavior

No content rendered for OpenID Connect security scheme

## Expected Behavior

Content should be rendered for the Op

[2022-10-28 09:44] shoffmeister commented on #2271
Current state of rendering:

![image](https://user-images.githubusercontent.com/3868036/198557724-089f7b05-c05e-497c-b109-1b21123e9a09.png)

[2022-10-28 16:41] caitlinnew opened #2272 "Images no longer display when using Elements and a public github repo"
## Current Behavior
Images hosted on a public github repo no longer display when viewing the project using the stoplight elements widget. They do display when viewing the hosted version.
It appears that the src field is pointing to the wrong URL.

## Expected Behavior
Images should display consistently

## Steps to Reproduce
View the hosted version of a markdown page and notice that the images cor

[2022-10-28 19:33] wmhilton commented on #2272
Well... It's not pointing to the "wrong" url per se, just a new one that only returns JSON because we weren't thinking clearly. We'll make it return an image!

[2022-10-28 19:42] cknight2018 opened #2273 "Servers Select menu displaying the API Description title instead of server in ReactJS"
If I use run this code:
`import React from 'react';
import { API } from '@stoplight/elements';
import '@stoplight/elements/styles.min.css';

export default function Api() {

    const test_swagger = {
        openapi: '3.1.0',
        info: {
            title: 'Some Awesome API',
            version: '1.0.0'
        },
        paths: {
            "/": {
                "post": {

[2022-11-03 17:35] P0lip commented on #2270
Hey!
Thank you for reaching out.
We're aware the size of installed dependencies might indeed look a tad large, although in reality it's not that bad when the package gets bundled. Keep in mind that installed dependencies oftentimes contain irrelevant artifacts such as LICENSE, documentation or test fixtures, etc. - all of which wouldn't be loaded in the browser.
You can preview the approximate siz

[2022-11-03 23:27] lucianojs opened #2277 "Missing content of callbacks tag"
Given an API with endpoint with callback, the callback data are not rendered.

## Context

Callbacks details are not visible;

## Current Behavior

No content rendered for Callbacks

## Expected Behavior

Content should be rendered for the Callbacks defined

## Possible Workaround/Solution

Use another components like Redoc, Rapidoc or Openapi-explorer.

## Steps to Reproduce

render this sample:

[2022-11-04 23:15] #2272 closed

[2022-11-04 23:53] banool opened #2279 "Make it possible to set the server via the `Api` component"
Hi, you can see how I'm using the `Api` component of Stoplight elements here: https://github.com/aptos-labs/aptos-core/pull/5345/commits/de747256be53c99f2e2a91f6f479b91b8b940eb0.

The problem with this is because the spec explorer is embedded in a different site (see it at https://aptos.dev/nodes/aptos-api-spec#/), it shows the wrong site for "Live Server" / "API Base URL". Unfortunately the serve

[2022-11-07 15:42] achernan5 opened #2280 "Remove hosted docs"
## Context

[2022-11-07 15:43] #2280 closed, assigned to nobody

[2022-11-07 20:21] matthewsac commented on #2238
In bug triage, it was decided to address this via better documentation of allowable schema size

[2022-11-08 05:14] smitabh84 commented on #2238
Thanks for the update, Mathew. Once the documentation is complete, please share the link here, so that I can share it with my customers.

[2022-11-08 07:30] teluren commented on #2238
Hello, @mnaumanali94, @matthewsac.
My apology for the long reply. Unfortunately, I can't share my full Quote model because of our security.

If you have found the root cause by @smitabh84 example, may I ask you to add the config parameter for the schema size?
Or just tell the point in code where to find for our developer, please?

[2022-11-09 13:12] progotman opened #2282 "Incorrect request presentation for PHP/guzzle sample"
## Context

Incorrect request presentation for PHP/guzzle sample.

## Current Behavior

Request sample PHP/guzzle presents PHP/cURL sample.

## Expected Behavior

Request sample PHP/guzzle presents PHP/guzzle sample.

## Steps to Reproduce

1. Go to [demo page](https://elements-demo.stoplight.io/)
2. Select any entrypoint
3. Chooce request sample: PHP/guzzle

## Environment

- Version used: 7.7.5

[2022-11-10 19:46] rafusel opened #2284 "Cannot set HTML title to the node title when using `StoplightProject` component"
## User Story Description

As a documentation viewer,

I want the title of the current tab (i.e. the HTML `<title>` tag) to be set to the node title of the page I am currently viewing,

so I can differentiate between which tabs have which documentation open when I have multiple tabs open.

This would be a nice quality of life improvement.

## Technical Detail
In the gatsby react example provided i

[2022-11-10 22:52] eadamsatx commented on #2238
![Screen Shot 2022-11-10 at 4.50.45 PM.png](https://images.zenhubusercontent.com/62a8a760d3c602b7b0e83302/dacea61d-7735-4843-b672-0edf9196cf89)

Is this error good? If not I will change words as you see fit.

[2022-11-11 08:07] teluren commented on #2238
Hi @eadamsatx,
Could you, please, give some more details?
You've exceeded the possible maximum limit of the schema, up to 1000 attributes?
If yes, this seems good, we don't have such massive objects yet.

[2022-11-14 15:50] eadamsatx commented on #2238
@teluren That is correct- 1000 attributes was the maximum example size. Last week, we raised that to 6000.  If you are running into this error, it's likely that you have a long chain of references in the model you're returning.

@pamgoodrich Can you document this somewhere that I can link to from the error message?

[2022-11-14 16:45] pamgoodrich opened #2285 "Document examples in Elements"
This page needs content:

https://docs.stoplight.io/docs/elements/ZG9jOjEyMDU2Njcz-how-examples-work-in-elements

[2022-11-15 22:33] pamgoodrich opened #2286 "Elements: Add changelog"
@pamgoodrich commented on [Tue Nov 15 2022](https://github.com/stoplightio/platform-docs/issues/612)

Add changelog file and new feature for sidebar sizing [(2268](https://app.zenhub.com/workspaces/-tequila-mockingbirds-61f945bb2ae66f0010ca5eca/issues/stoplightio/elements/2268).

Also, review contribution guidelines and add step for updating changelog if applicable.

[2022-11-16 18:32] tetraset commented on #2282
I have the same problem. @lottamus could you help us with it?

[2022-11-17 00:26] banool commented on #2279
Hey just pinging this one to ensure it doesn't get reaped by a stale bot, I'd still love this feature. Or even some comment from the maintainers about whether they'd want this feature, then I could maybe look into adding it.

[2022-11-17 17:04] mnaumanali94 commented on #2279
Hey @banool, if you add the API server to the OpenAPI spec, elements should show that. Is there something we are missing that prevents you from adding it to the OAS?

[2022-11-17 17:07] mnaumanali94 commented on #2282
Hey! This certainly seems to be a bug. Would you mind creating a PR to fix this? The Stoplight team would be happy to help if you have any questions.

[2022-11-17 17:39] banool commented on #2279
In our case, anyone can run our API, it doesn't run from only a single URL. So it doesn't really make sense to have the server field set in our spec, since that would imply that the URL there is the authoritative location of the API when in reality we encourage anyone to run it (this is for a decentralized system).

[2022-11-18 16:04] #2238 closed

[2022-11-19 10:20] codeYhc opened #2291 "scrollbar problem"
When the browser scroll bar scrolls, the sidebar and the navigation on the right will scroll up
https://support.stoplight.io/servlet/rtaImage?eid=500Do000001sC4C&feoid=00N3i00000DjRsl&refid=0EMDo000000HTLy

[2022-11-21 17:52] tupelo-schneck opened #2292 "Schema external references fail on password-protected site"
## Context
We are trying out Stoplight Elements for API documentation, and are sharing our work-in-progress with another team on a password-protected website (HTTP Basic auth).

## Current Behavior
On our password-protected site, JSON Schema external refs do not work, leading to errors in the Stoplight Elements UI like "Cannot resolve external references".

## Expected Behavior
External references

[2022-11-22 04:02] smitabh84 commented on #2238
Can you please share the documentation link here?

[2022-11-22 04:03] smitabh84 commented on #2238
@eadamsatx

[2022-11-22 05:57] Kirishikesan commented on #2250
@mnaumanali94 @Amjcraft The source code for this is in the repo [wso2-apim-ui](https://github.com/wso2/apim-apps) which is the UI for an opensource product "WSO2 API Manager".

[2022-11-22 14:58] pamgoodrich commented on #2238
We added this here: https://docs.stoplight.io/docs/platform/zumkfdc16oypw-json-schema-editor#generate-examples

[2022-11-22 15:01] Amjcraft commented on #2250
Took a quick look. I'm pretty sure it's the reset.css in mosaic causing this issue.

The [WSO2 comps](https://github.com/wso2/apim-apps/tree/c2735f2a4e4d272a15c693efc85460217e643f78/portals/publisher/src/main/webapp/source/src/app/components/Base/Header/navbar) in question. Implement the the` https://mui.com/material-ui/react-list/ ` Material ui styles appear to use a single selector for css style

[2022-11-22 18:59] #2235 closed

[2022-11-23 06:30] smitabh84 commented on #2238
![image](https://user-images.githubusercontent.com/66934062/203484741-73d7aae7-bb1a-43b3-ad8a-1261fe2794d9.png)
 is this the section? It still shows 1000 and more.
Can you please clarify if the 6000 and more changes are done? or still not merged?

[2022-11-23 08:30] smitabh84 commented on #2238
Can you please help me understand how do I get to know my current Schema property size in the YAML shared above? And as this is an existing setup what can we do to not show this error on the GUI? Any workaround?

[2022-11-23 16:32] tupelo-schneck commented on #2292
This is presumably solved by https://github.com/stoplightio/elements/pull/2006

[2022-11-27 13:50] diego351 opened #2295 "Add an ability to choose example from query params"
For now the request form only suggests examples like this:
<img width="526" alt="image" src="https://user-images.githubusercontent.com/1809191/204138730-baf1f550-17bf-4e9a-9c0b-cffc7661612e.png">

I would like to have an option to choose defined query params examples from dropdown as in swagger-ui

[2022-11-27 14:23] diego351 opened #2296 "Not all defined query parameters are listed to fill in console"
For given schema swagger-ui correctly shows all query params to fill and try.

Elements shows just some subset of  these:

<img width="340" alt="image" src="https://user-images.githubusercontent.com/1809191/204140102-1ff734b8-42e6-4179-9f1d-eb60aaa6542b.png">

It's missing `social_media_type` and more. I now tested it further and see that it always limits visible query params to 4.

[code]

Desire

[2022-11-28 09:16] banool commented on #2279
Hey @mnaumanali94 do you think this is a good idea to have, regardless of whether you have resources to implement it or not? I'm trying to decide whether to fix this with a hack or whether to possibly contribute this feature to stoplight.

[2022-11-30 12:52] diego351 commented on #2296
I'm dumb, there's scroll view there.

[2022-11-30 12:52] #2296 closed